.hm-lightblue {color: #4c72ca;}
.hm-red {color: #FB5454}
.hm-lightred {color: #FCCCCC;}

.navbar-brand img {
    height: 100%;
    max-width: 70%;
    width: auto
}

/*
content:

danger
warning
attention
hint
caution
tip
important
note
seealso
default
todo
*/


div.proof {border-color: #ccc; background-color: #FFF;}
div.proof p.admonition-title {background-color: #FFF;}
.admonition.proof .admonition-title:before{color:#FFF;content:"";}

/*
 * dark mode 
 */
html[data-theme=dark] div.learngoals {border-color: rgb(106, 27, 154); background-color: rgba(106, 27, 154, 0.2);}
html[data-theme=dark] div.learngoals p.admonition-title {background-color: rgb(106, 27, 154);}
html[data-theme=dark] div.admonition.learngoals>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-seealso);}

html[data-theme=dark] div.exercise {border-color: rgb(90, 90, 90); background-color: rgba(194, 192, 189, 0.2);}
html[data-theme=dark] div.exercise p.admonition-title {background-color: rgb(90, 90, 90);}
html[data-theme=dark] div.admonition.exercise>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-todo);}

html[data-theme=dark] div.remark {border-color: rgba(7, 255, 48, 0.2); background-color: #173b1c;}
html[data-theme=dark] div.remark p.admonition-title {background-color: rgba(7, 255, 48, 0.2);}
html[data-theme=dark] div.admonition.remark>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-hint);}

html[data-theme=dark] div.attention {border-color: rgb(199, 55, 55); background-color: rgba(200, 75, 75, 0.2);}
html[data-theme=dark] div.attention p.admonition-title {background-color: rgb(199, 55, 55);}
html[data-theme=dark] div.admonition.attention>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-warning);}

html[data-theme=dark] div.theorem {border-color: rgb(204, 102, 0); background-color: rgba(204, 102, 0, 0.2);}
html[data-theme=dark] div.theorem p.admonition-title {background-color: rgb(204, 102, 0);}
html[data-theme=dark] div.admonition.theorem>.admonition-title:after{color:rgb(255, 214, 153);content:var(--pst-icon-admonition-default);}

html[data-theme=dark] div.definition {border-color: rgb(36, 71, 143); background-color: rgba(102, 153, 255, 0.25);}
html[data-theme=dark] div.definition p.admonition-title {background-color: rgb(36, 71, 143);}
html[data-theme=dark] div.admonition.definition>.admonition-title:after{color:rgb(102, 153, 255);content:var(--pst-icon-admonition-note);}

html[data-theme=dark] div.conjecture {border-color: rgb(20, 82, 82); background-color: rgba(0, 102, 153, 0.2);}
html[data-theme=dark] div.conjecture p.admonition-title {background-color: rgb(20, 82, 82);}
html[data-theme=dark] div.admonition.conjecture>.admonition-title:after{color:rgb(51, 204, 204);content:var(--pst-icon-admonition-default);}

/*
 * light mode 
 */
html[data-theme="light"] div.learngoals {border-color: rgb(255, 102, 255); background-color: rgba(106, 27, 154, 0.1);}
html[data-theme="light"] div.learngoals p.admonition-title {background-color: rgb(255, 102, 255);}
html[data-theme="light"] div.admonition.learngoals>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-seealso);}

html[data-theme="light"] div.exercise {border-color: rgb(170, 170, 170); background-color: rgba(194, 192, 189, 0.1);}
html[data-theme="light"] div.exercise p.admonition-title {background-color: rgb(170, 170, 170);}
html[data-theme="light"] div.admonition.exercise>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-todo);}

html[data-theme="light"] div.remark {border-color: rgb(0, 204, 102); background-color:rgba(7, 255, 48, 0.1);}
html[data-theme="light"] div.remark p.admonition-title {background-color: rgb(0, 204, 102);}
html[data-theme="light"] div.admonition.remark>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-hint);}

html[data-theme="light"] div.attention {border-color: rgb(228, 126, 126); background-color: rgba(200, 75, 75, 0.1);}
html[data-theme="light"] div.attention p.admonition-title {background-color: rgb(228, 126, 126);}
html[data-theme="light"] div.admonition.attention>.admonition-title:after{color:#ffc107;content:var(--pst-icon-admonition-warning);}

html[data-theme="light"] div.theorem {border-color: rgb(223, 217, 107); background-color: rgba(204, 177, 0, 0.1);}
html[data-theme="light"] div.theorem p.admonition-title {background-color: rgb(223, 217, 107);}
html[data-theme="light"] div.admonition.theorem>.admonition-title:after{color:rgb(158, 164, 42);content:var(--pst-icon-admonition-default);}

html[data-theme="light"] div.definition {border-color: rgb(96, 148, 252); background-color: rgba(102, 153, 255, 0.1);}
html[data-theme="light"] div.definition p.admonition-title {background-color: rgb(96, 148, 252);}
html[data-theme="light"] div.admonition.definition>.admonition-title:after{color:rgb(17, 59, 145);content:var(--pst-icon-admonition-note);}

html[data-theme="light"] div.conjecture {border-color: rgb(55, 214, 214); background-color: rgba(23, 154, 220, 0.1);}
html[data-theme="light"] div.conjecture p.admonition-title {background-color: rgb(55, 214, 214);}
html[data-theme="light"] div.admonition.conjecture>.admonition-title:after{color:rgb(15, 65, 65);content:var(--pst-icon-admonition-default);}

.footer {
	width: auto;
	text-align: center;
    color: #5a5a5a;
    background-color: #FFFFFF;
    font-size: 9pt;
}

nav.bd-links p.caption {
	color: #FB5454;
}

.fas.fa-arrow-left, .fas.fa-bars, .fas.fa-list, .fas.fa-rocket, .bd-toc div.onthispage {
    color: #FB5454;
}

.fab.fa-github,
.fas.fa-download,
.fas.fa-expand,
.fas.far-arrow-up,
.fas.fa-lightbulb,
.fas.fa-pencil-alt,
.fas.fa-download,
i.fab.fa-github,
.fas.fa-download,
.fas.fa-expand,
.fas.far-arrow-up,
.fas.fa-lightbulb,
.fas.fa-pencil-alt,
i.fas.fa-download,
button.btn.btn-secondary.topbarbtn,
button.btn.btn-secondary {
  color: #FB5454;
}

/*
main.bd-content #main-content a:visited,
.bd-toc nav a:hover,
.bd-toc nav li.active>a.active,
nav.onthispage li.active a,
a,
a.reference.external,
a:visited,
a.anchorjs-link,
a.anchor-link,
#site-navigation nav ul.nav li.active>a,
#site-navigation nav ul.nav a:hover,
a.nav-link, a.current.reference.internal, ul.nav ul li {
    color: #00A0D2;
}
*/

/*
div#site-navigation {
    max-width: 300px;
    padding: 10px 20px 20px 30px;
}
*/

/*
a:hover, a.selected {
    font-weight: bold;
    color: #00A0D2;
}
*/

/*d
iv.topbar {
    background: #00A0D2;
    z-index: 2001;
}
*/

/*
div.container-xl, footer .container {
    max-width: 100% !important;
    padding-left: 0 !important;
}
*/