.admonition.learngoals {
    border-color:#FC5555;
}

.admonition.learngoals .admonition-title{background-color: #FCCCCC;}
.admonition.learngoals .admonition-title:before{color:#FC5555;content:""}

.hm-lightblue {color: #4c72ca;}
.hm-red {color: #FC5555}
.hm-lightred {color: #FCCCCC;}

.hm-lightblue {color: #4c72ca;}
.hm-red {color: #FC5555}
.hm-lightred {color: #FCCCCC;}

html[data-theme=dark] div.remark {border-color: rgba(7, 255, 48, 0.2); background-color: #173b1c;}
html[data-theme=dark] div.remark p.admonition-title {background-color: rgba(7, 255, 48, 0.2);}
html[data-theme=dark] div.admonition.remark>.admonition-title:after{color:#ffc107;content:""}

html[data-theme=dark] div.attention {border-color: rgb(199, 55, 55); background-color: rgba(200, 75, 75, 0.2);}
html[data-theme=dark] div.attention p.admonition-title {background-color: rgb(199, 55, 55);}
html[data-theme=dark] div.admonition.attention>.admonition-title:after{color:rgb(78, 31, 31);content:""}

html[data-theme=dark] div.theorem {border-color: rgb(199, 55, 55); background-color: rgba(200, 75, 75, 0.2);}
html[data-theme=dark] div.theorem p.admonition-title {background-color: rgb(199, 55, 55);}
html[data-theme=dark] div.admonition.theorem>.admonition-title:after{color:rgb(78, 31, 31);content:""}

html[data-theme="light"] div.remark {border-color: rgba(100, 208, 118, 0.8); background-color: #cef3d3;}
html[data-theme="light"] div.remark p.admonition-title {background-color: rgba(100, 208, 118, 0.8);}
html[data-theme="light"] div.admonition.remark>.admonition-title:after{color:#ffc107;content:""}

html[data-theme="light"] div.attention {border-color: rgba(242, 112, 112, 0.8); background-color: rgba(244, 216, 216, 0.8)}
html[data-theme="light"] div.attention p.admonition-title {background-color: rgba(242, 112, 112, 0.8);}
html[data-theme="light"] div.admonition.attention>.admonition-title:after{color:rgba(244, 216, 216, 0.8);content:""}

html[data-theme="light"] div.theorem {border-color: rgba(242, 112, 112, 0.8); background-color: rgba(244, 216, 216, 0.8);}
html[data-theme="light"] div.theorem p.admonition-title {background-color: rgba(242, 112, 112, 0.8);}
html[data-theme="light"] div.admonition.theorem>.admonition-title:after{color:rgba(244, 216, 216, 0.8);content:""}

html[data-theme="light"] div.definition {background-color: rgba(240, 240, 240, 1.0);}