.admonition.learngoals {
    border-color:#FC5555;
}

.admonition.learngoals .admonition-title{background-color: #FCCCCC;}
.admonition.learngoals .admonition-title:before{color:#FC5555;content:""}

.hm-lightblue {color: #4c72ca;}
.hm-red {color: #FC5555}
.hm-lightred {color: #FCCCCC;}